body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    /* border: 2px dotted black; */
}

nav {
    display: flex;
    background-color: cyan;
    border: 2px dotted black;
    justify-content: space-between;
}

.name {
    justify-content: start;
    border: 2px dotted black;
    align-self: center; 
    font-size: 1.75em;
    padding-left: 20px;
}
#nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px dotted black;
    text-decoration: none;
    
}

.nav-link {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.5em;
    text-decoration: none;
    /* justify-items: end; */
}

.nav-link:hover {
    opacity: .5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    background-color: aliceblue;

}


.about-me-sections {
    align-self: center;
    border: 2px dotted black;
}

.portfolio-page {
    display: flex;
    background-color: pink;
    align-items: center;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    border: 2px dotted black;
    width: 70%;
}

.project-section {
    display: flex;
    justify-content: space-between;
}

.p-description {
    flex-direction: row;
}