body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: sans-serif;
}

nav {
    background-color: darkcyan;
    height: 75px;
    width: 100%;
}

.name {
    float: left;
    color: aliceblue;
    font-size: 200%;
}

#nav-links {
    float: right;
    padding-right: 1rem;
    padding-top: 2rem;
}
.nav-link {
    /* float: right; */
    padding: 10px;
    width: 100px;
    font-size: 150%;
    font-family: sans-serif;
    color: aliceblue;
    
}

main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


/* checking to see if git push works pls */